{% extends 'base.html' %}

{% block content %}
<div class="header-container">
<h1>Log In</h1>
</div>
<div class="form-container">
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag }}
        </p>
        <p>
            {{ field }}
        </p>
    {% endfor %}
        <p>
            <button type="submit" class="btn btn-primary">Log In</button>
        </p>
        <div>
            Need An Account? <a href="{%url 'register'%}">Sign Up</a>
        </div>
</form>
</div>
{% endblock %}