{% extends 'base.html' %}

{% block content %} 
<h1>Sign Up</h1>
<div class="register-container">
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag }}
        </p>
        <p>
            {{ field }}
        </p>
        <p>
        {% if field.help_text %}
          <small style="color: black">{{ field.help_text }}</small>
        </p>
        {% endif %}
        </p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <p>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </p>
    <p>Have An Account?<a href="{% url 'login' %}">Login</a>
    </p>
  </form>
</div>
{% endblock content %}