/*Paul Irish Reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*https://html-online.com/articles/gradient-background-buttons-css-html/*/
/*https://unsplash.com/photos/_kUxT8WkoeY*/

h1, h4 {
    font-family: 'Lobster Two', cursive;
    margin-top: 20px;
    padding: 20px 20px 20px 40px;
}

h1 {
    font-size: 7rem;
    text-decoration: none;
    color: black;
}

h4 {
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 15px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url(../img/marjan-blan-paper-unsplash.jpg) no-repeat top center fixed;
    background-size: 100% auto;
}

.welcome-container {
    padding: 20px 20px 20px 40px;
    font-size: 2rem;
}
.home-container {
    padding: 20px 20px 20px 20px;
}

.form-container {
    padding: 20px 20px 20px 20px;
    font-size: 20pt;
}

.journal-description {
    margin-left: 20px;
    padding: 20px 20px 20px 20px;
    font-size: 20pt;
}

.new-entry-field {
    padding: 20px 20px 20px 40px;
}

.old-entry-container {
    padding: 20px 10px 20px 10px;
    font-size: 15pt;
}    


