h1, h3 {
    font-family: 'Lobster Two', cursive;
}

h1 {
    font-size: 6em;
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 4.5em;
    text-decoration: none;
    margin-bottom: 20px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 70px;
    background: url(../img/marjan-blan-paper-unsplash.jpg) no-repeat top center fixed;
    background-size: 100% auto;
}

.header-container {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.home-container {
    display: flex;
    justify-content: center;   
}

.new-entry-title {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.new-entry-container form {
    display: flex;
    justify-content: center;
}

.recorded-entry-container {
    padding: 20px 20px 20px 40px;
    font-size: 25pt;
}    

.recorded-entry-title {
    margin: 20px auto;
}