/*Paul Irish Reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*https://html-online.com/articles/gradient-background-buttons-css-html/*/
/*https://unsplash.com/photos/_kUxT8WkoeY*/

h1, h4 {
    font-family: 'Lobster Two', cursive;
    padding: 20px 20px 20px 40px;
}

h1 {
    margin-top: 20px;
    font-size: 7rem;
    text-decoration: none;
    color: black;
}

h4 {
    font-size: 4rem;
    text-decoration: none;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url(../img/marjan-blan-paper-unsplash.jpg) no-repeat top center fixed;
    background-size: 100% auto;
}

.welcome-container {
    padding: 20px 20px 20px 40px;
    font-size: 3rem;
}
.home-container {
    padding: 20px 20px 20px 20px;
}

.home-button button {
    margin-left: 40px;
    margin-top: 15px;
    font-size: 25px;
}

.form-container {
    margin-left: 20px;
    padding: 20px 20px 20px 20px;
    font-size: 20pt;
}

.form-container button {
    margin-top: 15px;
    font-size: 25px;
}

.register-container {
    margin-left: 40px;
    font-size: 2rem;
}

.register-container button {
    margin-top: 5px;
    font-size: 15px;
}

.journal-description {
    margin-left: 20px;
    padding: 20px 20px 20px 20px;
    font-size: 25pt;
}

.new-entry-container {
    font-size: 15pt;
    padding: 20px 20px 20px 40px;
}

.new-entry-submit button {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
}

.old-entry-container {
    margin-left: 40px;
    font-size: 20pt;
}    

@media screen and (min-width: 800px) {
    .new-entry-container {
    width: 1383px;
}