<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'new_entry' %}">New Entry</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    </nav>
    <div class="header-contianer">
    <h1 class="title">Gratitude Journal</h1>
    </div>
    <div class="new-entry-container">
        <a href="{% url 'new_entry' %}">Add New Entry</a>
    </div>
    
    {% for entry in entries %}
        <div class="recorded-entry-container">
                <h3>{{ entry.date_posted }}</h3>
                <p>{{ entry.text }}</p>
        </div>
    {% endfor %}

</body>
</html>