{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div class="header-container">
        <h1>{{ page_heading }}</h1>
        </div>
        <div class="welcome-container">
        <p>
            Welcome back, {{request.user.username}}! 
            (<a href="{% url 'logout'%}">Logout</a>)
        </p>
        <a href="{% url 'new_entry' %}">Add New Entry</a>
        <p>{{ request.session.location }}</p>
        </div>
    {% else %}
        <div class="header-container">
            <h1>{{ page_heading }}</h1>
        </div>
        <div class="journal-description">
            <p>“Writing in a journal reminds you of your goals and of your learning in life. It offers a place where you can hold a deliberate, thoughtful conversation with yourself.” - Robin Sharma</p>
                <a href="{% url 'login' %}">Sign In</a>
        </div>
    {% endif %}

{% endblock %}