<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Journal Entry</title>
</head>
<body>
    <div class="new-entry-title">
    <h1>What Am I Grateful For Today?</h1>
    </div>
    <div class="new-entry-container">
        <form method="post" action="{% url 'add' %}">
            {% csrf_token %}
            <div class="-new-entry-field">
                {{ form.text }}
            </div>
            <div class="new-entry-submit">
                <button class="new-entry-button">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>