{% extends 'base.html' %}

{% block content %}    
    <div class="header-container">
    <h1>What's On Your Mind?</h1>
    </div>
    <div class="new-entry-container">
        <form class="new-entry-field" action="{% url 'new_entry' %}" method="POST">
            {% csrf_token %}
            <div class="row m-3">
                {{ form.title }}
            </div>
            <div class="row m-3">
                {{ form.text }}
            </div>
            <div class="new-entry-submit">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
