{% extends 'base.html' %}

<body>
{% block content %}
    <div class="new-entry-title">
    <h1>What Am I Grateful For Today?</h1>
    </div>
    <div class="new-entry-container">
        <form method="POST" action="{% url 'new_entry' %}">
            {% csrf_token %}
            <div class="-new-entry-field">
                {{ form.title }}
                {{ form.text }}
            </div>
            <div class="new-entry-submit">
                <button class="new-entry-button">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
