{% extends 'base.html' %}

{% block content %}

    <div class="header-container">
    <h1>{{ page_heading }}</h1>
    </div>
    
    {% for entry in entries %}
        <div class="old-entry-container">
        <h4 class="old-entry-title">
            <strong>{{ entry.title }}</strong>
        </h4>
        <div class="date-posted">
            <p>{{ entry.date_posted }}</p>
        </div>
        <div class="entry-text">
            <p>{{ entry.text }}</p>
        </div>
        </div>
    {% endfor %}

{% endblock %}